<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="color: #ff0000; font-size: 24px;">Welcome to My Cool App!</h1>
    <p style="font-size: 16px;">Dear {{ recipient_name }},</p>
    <p style="font-size: 14px; color: #000000;">This is the body of the email with some cool styling!</p>
    <img src="https://www.bing.com/ck/a?!&&p=52cf33ccc5f4237eJmltdHM9MTcwMDc4NDAwMCZpZ3VpZD0wN2UyNGM2MS01YzY4LTY0NTMtMmJhMC01ZWE3NWRjNDY1NTYmaW5zaWQ9NTU1Mw&ptn=3&ver=2&hsh=3&fclid=07e24c61-5c68-6453-2ba0-5ea75dc46556&u=a1L2ltYWdlcy9zZWFyY2g_cT1ob3RlbCBpbWFnZXMmRk9STT1JUUZSQkEmaWQ9MDAyNTcwRjBDQUFBNzYxMEFGMzIzQTM1NkUzODIxRDA3NDhCQTQxRA&ntb=1" alt="Cool Image" style="width: 300px;">
</body>
</html>